<div id="target" class="mapsets">

</div>
<div id="template" type="x-tmpl-mustache" style="display: none;">
    <div class="mapset" style="background: linear-gradient(0deg, rgba(47, 47, 47, 0.2), rgba(47, 47, 47, 0.2)), linear-gradient(0deg, rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.5)), url('https://cdn.quavergame.com/banners/[[id]]_banner.jpg');background-size: cover;">
        <div class="mapset-info">
            <div>
                <div class="mapset-song">
{#                    Worldwide Choppers - Tech N9ne ft. Busta Rhymes, Yelawolf, Twisted Insane, Ceza, JL, Twista, U$O, & D-Loc#}
                    Title
                </div>
                <div class="mapset-difficulty">
                    <i class="fas fa-chart-line"></i> 1.69 - 7.69
                </div>
            </div>
            <div>
                <div class="mapset-info-right">
                    <div class="mapset-4k-7k">4K/7K</div>
                    <div class="mapset-ranked">Ranked</div>
                </div>
                <div class="mapset-info-download">
                    <a href="#">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>