<div class="widget mt-4">
    <div class="widget-header">
        {% if editing %}
            Edit mod
        {% else %}
            Submit a Mod
        {% endif %}
    </div>
</div>
<div class="card modding-form">
    <div class="card-body">
        <form method="POST" accept-charset="UTF-8">
            <div class="form-group">
                <label for="form_type">The type of mod you want to give the user</label>
                <select id="form_type" name="type" class="form-control">
                    <option value="2">None</option>
                    <option value="0">Issue</option>
                    <option value="1">Suggestion</option>
                </select>
            </div>
            <div class="form-group">
                <label for="form_timestamp"> Copy objects in the editor with CTRL+C to highlight specific points in the map</label>
                <input type="text" id="form_timestamp" name="timestamp" class="form-control" value="{{ timestamp??'' }}" placeholder="234873284|1,234234|2,23423|3">
            </div>
            <div class="form-group">
                <label for="form_comment">Comment</label>
                <textarea id="form_comment" name="comment" rows="5" placeholder="Your Comment" class="form-control" required>{{ comment??'' }}</textarea>
            </div>
            <button type="submit" name="{{ (editing) ? 'edit_mod' : 'submit_mod' }}" class="btn btn-success">{{ (editing) ? 'Save' : 'Submit' }}</button>
        </form>
    </div>
</div>