<section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(57, 58, 62) !important;">
    <img class="background" src="https://cdn.quavergame.com/mapsets/{{ mapset.id }}.jpg" alt="">
    <div class="container text-center position-relative" style="z-index: 5">
        <h1 class="display-2 font-weight-bold text-white">
            {{ mapset.title }}
            <div class="display-4 font-weight-bold">
                {{ mapset.artist }}
            </div>
        </h1>
    </div>
</section>