{% extends "layouts/app.twig" %}
{% block content %}

    <h1>MAPSET</h1>
    {{ dump(mapset) }}

    <h1>MAP</h1>
    {{ dump(map) }}

    <h1>SCORES</h1>
    {{ dump(scores) }}

    <h1>COMMENTS</h1>
    {{ dump(comments) }}

{% endblock %}

{% block style %}

{% endblock %}

{% block scripts %}

{% endblock %}