* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background: url("/img/triangles.png"), rgba(26, 26, 26, 1);
    /* background: rgba(26, 26, 26, 1); */
}

/* Navbar */

.navbar {
    padding: .5rem 1.5rem;
}

.bg-quaver {
    background: linear-gradient(180deg, #242424 0%, #1B1B1B 100%);
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.navbar form input {
    background: #111111;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .active>.nav-link {
    font-size: 14px;
}

.navbar form input:focus {
    background: #111111;
}

.navbar-brand img {
    max-height: 28px;
    margin-top: -2px;
}

.input-icon-right i {
    position: absolute;
    right: 5px;
    top: 0;
    width: 43px;
    line-height: 39px;
    text-align: center;
    height: 39px;
    font-size: 15px;
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

/* Navbar border */

.nav-out {
    width: 100%;
    background-color: #09a4c6;
}

.nav-border {
    width: 5%;
    height: 2px;
    background: #fff;
    will-change: transform;
    animation: marquee 30s infinite linear;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-100% + 100vw));
    }

    50% {
        transform: translateX(calc(-100% + 100vw));
    }

    100% {
        transform: translateX(0);
    }
}

/* Profile */

.profile-cover {
    margin-top: 55px;
    height: 340px;
    position: relative;
    z-index: 8;
}

.profile-overlay {
    background: linear-gradient(360deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.profile-cover .user {
    margin-left: 240px;
    position: absolute;
    bottom: 10px;
    z-index: 3;
}

.profile-cover .user .h5 {
    font-size: 15px;
    font-weight: normal;
}

.profile-cover .user .status {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.profile-cover .user .online {
    background: #27B06E;
}

.profile-cover .user .offline {
    background: #F9645D;
}

.profile-cover .user-avatar {
    position: absolute;
    z-index: 3;
    bottom: -65px;
}

.profile-cover .user-avatar img {
    border: 8px solid #1A1A1A;
    border-radius: 16px;
}

.menu-bg {
    background: #242424;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.menu-bg ul {
    margin-left: 178px;
}


.menu-bg .navbar-nav .active>.nav-link {
    color: #45D6F5;
    text-shadow: 0px 0px 9px #0FBAE5;
}

.menu-bg .navbar-nav .nav-link:hover {
    color: #45D6F5;
    text-shadow: 0px 0px 9px #0FBAE5;
    transition: .5s;
}

.menu-bg .navbar-nav .nav-link {
    color: #808080;
    font-size: 17px;
}

/* Panels */

.q-panel-header {
    color: #FFFFFF;
    text-shadow: 0px 0px 6px #FFFFFF;
    font-size: 20px;
    display: flex;
}

.q-panel-header::before {
    color: #45D6F5;
    text-shadow: 0px 0px 9px #0FBAE5;
    content: "|";
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.q-panel-body {
    background: #242424;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 12px;
    color: #FFFFFF;
    position: relative;
}

.q-panel-body:hover {
    transition: .5s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

/* Bio */

.bio-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #5B5B5B;
    font-size: 25px;
}

/* Group Colors */

.text-color-swan {
    color: #db88c2;
}

.text-color-developer {
    color: #bb79e5;
}

.text-color-admin {
    color: #708df9;
}

.text-color-moderator {
    color: #0094FF;
}

.text-color-ranking-supervisor {
    color: #6EF7F7;
}

.text-color-supporter {
    color: #ffd3fb;
}

.text-color-bot {
    color: #ffeb67;
}

.text-color-contributor {
    color: #56FE6E;
}

/* Footer */

footer {
    background: linear-gradient(180deg, #242424 0%, #1B1B1B 100%);
    margin-top: 50px;
    color: #FFFFFF;
    min-height: 200px;
}