<div class="widget">
    <div class="widget-header d-flex justify-content-between">
        <div>Statistics</div>
        <div class="mode-switch">
            <a href="#" class="mode-4 active">
                <div>4K</div>
            </a>
            <a href="#" class="mode-7">
                <div>7K</div>
            </a>
        </div>
    </div>
</div>