
<footer>
    <div class="container">
        aa
    </div>
</footer>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>