{% extends "layouts/app.twig" %}
{% block content %}
    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="{{ assets('/img/cover.jpg') }}" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Friends
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="friends">
        <div class="container">
            {% include "layouts/alert.twig" %}
            <div class="widget">
                <div class="widget-header">Friends</div>
            </div>
            <div class="widget widget-secondary">
                <div class="widget-body">
                    <div class="row">
                        {% if not friends %}
                            <div class="col-md-12">
                                No Friends
                            </div>
                        {% endif %}
                        {% for friend in friends %}
                            {% set cover = assets("/img/cover.jpg") %}
                            {% if IsDonator(friend.usergroups) %}
                                {% set cover = "https://cdn.quavergame.com/profile-covers/"~friend.user_id~".jpg" %}
                            {% endif %}
                            <div class="col-md-4 mb-3">
                                {% include "helpers/player-card.twig" with {player: friend, cover: cover, friends: true} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}