<div class="row" id="maps">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Uploaded Mapsets</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                {% include '../helpers/mapsets.twig' with {'status': 'ranked', 'show': 10} %}
            </div>
        </div>
    </div>
</div>