<div class="row">
    <!-- -->
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">Rank Progression</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                <canvas id="chartRank"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header">Judgement Breakdown</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                <canvas id="chartJudgements"></canvas>
            </div>
        </div>
    </div>
</div>