<div class="row mg-bottom" id="playlists">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Playlists</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                text
            </div>
        </div>
    </div>
</div>