<div class="row" id="scores">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Scores</div>
        </div>
        <div class="card">
            <div class="card-header transparent p-0 border-0">
                <div class="nav-tab-scroll">
                    <div class="nav nav-tabs" id="tab" role="tablist">
                        <a class="nav-item nav-link active" id="best-tab" data-toggle="tab" href="#best" role="tab" aria-controls="best" aria-selected="false">Best</a>
                        <a class="nav-item nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                        <a class="nav-item nav-link" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">First Place</a>
                    </div>
                </div>
            </div>
            <form>
                <div class="card-body" style="padding: 0;">
                    <div class="tab-content" id="tab">
                        <div class="tab-pane fade show active" id="best" role="tabpanel" aria-labelledby="best-tab">
                            {% include '../helpers/scores.twig' with {'table': 'best', 'data': best} %}
                        </div>
                        <div class="tab-pane fade show" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                            {% include '../helpers/scores.twig' with {'table': 'recent', 'data': recent} %}
                        </div>
                        <div class="tab-pane fade show" id="first" role="tabpanel" aria-labelledby="first-tab">
                            {% include '../helpers/scores.twig' with {'table': 'first', 'data': first} %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="x-tmpl-mustache" id="score-template" type="text/template">
    [$#scores$]
    <tr style="text-align: center">
        <td>
            <img src="/img/grades/[$grade$].png" alt="[$grade$]" title="[$grade$]" width="30px" height="30px">
        </td>
        <td>
            <a href="#">[$map.artist$] - [$map.title$] [[$ map.difficulty_name $]]</a>
            <br>
            [$time$]
        </td>
        <td>[$performance_rating$]</td>
        <td>[$accuracy$]%</td>
        <td>[$mods_string$]</td>
        <td>
            <a href="http://api.quavergame.com/d/web/replay/[$id$]">
                <i class="fas fa-download" data-toggle="tooltip" title="Download" data-original-title="Download"></i>
            </a>
        </td>
        <td>
            <a data-toggle="collapse" href="#score_[$table$]_[$id$]" data-target="#score_[$table$]_[$id$]" onclick="loadChart('[$table$]', [$id$], [$count_marv$], [$count_perf$], [$count_great$], [$count_good$], [$count_okay$], [$count_miss$]);">
                <i class="fas fa-angle-down"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="7" style="padding: 0;">
            <div class="accordian-body collapse" data-parent="#scores" id="score_[$table$]_[$id$]" style="overflow: hidden">
                <div class="row" style="min-height: 500px;">
                    <div class="col-md-3">
                        <h6 class="mt-4">Score</h6>
                        <span class="font-weight-light font-size-md">[$total_score$]</span>
                    </div>
                    <div class="col-md-3">
                        <h6 class="mt-4">Scroll Speed</h6>
                        <span class="font-weight-light font-size-md">[$scroll_speed$]</span>
                    </div>
                    <div class="col-md-3">
                        <h6 class="mt-4">Max Combo</h6>
                        <span class="font-weight-light font-size-md">[$max_combo$]x</span>
                    </div>
                    <div class="col-md-3">
                        <h6 class="mt-4">Ratio</h6>
                        <span class="font-weight-light font-size-md">[$ratio$]</span>
                    </div>
                    <div class="col-sm-8 mx-auto">
                        <canvas class="chartScore_[$table$]_[$id$]"></canvas>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    [$/scores$]
</script>

<script>
    Mustache.tags = ["[$", "$]"];
    let template = null;
    window.addEventListener('DOMContentLoaded', () => {
        template = $('#score-template').html();

        $('.getMoreScoresEvent').on('click', function () {
            console.log($(this).data('table'));
            getMoreScoresEvent($(this).data('table'));
        });
    });

    let pages = {
        "best": 1,
        "recent": 1,
        "first": 1
    };

    function getMoreScoresEvent(table) {
        $.ajax({
            type: 'GET',
            url: `{{ apiBaseUrl }}/v1/users/scores/best?id={{ user.info.id }}&mode={{ mode }}&page=${pages[table]}&limit=15`,
            success: function (response) {
                $.each(response.scores, function (key, value) {
                    value['accuracy'] = value['accuracy'].toFixed(2);
                    value['performance_rating'] = value['performance_rating'].toFixed(2);
                    value['ratio'] = value['ratio'].toFixed(2);
                    value['time'] = durationParse(value['time']);
                });
                response.table = table;
                let info = Mustache.render(template, response);
                $(`#table_${table} tbody:last`).append(info);
                pages[table]++;
            }
        });
    }
</script>