<div class="row mg-bottom" id="rank">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Rank Progression</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body" style="padding: 0">
                <div id="rankProgression"></div>
            </div>
        </div>
    </div>
</div>