<%- include ("../partials/header") %>
<%- include ("../partials/navigation") %>

<div class="profile-cover"
    style="background: linear-gradient(0deg, rgba(36, 36, 36, 0.5), rgba(36, 36, 36, 0.5)), url('/img/cover.jpg') center center;">
    <div class="profile-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="user-avatar">
                <img src="<%= user.info.avatar_url %>">
            </div>
            <div class="user">
                <h1 class="h4 text-white"> <img src="/img/flags/<%= user.info.country %>.png"> <%= user.info.username %>
                </h1>
                <h5 class="h5">
                <% if(UserHelper.HasGroup(user.info, UserGroups.Developer)) { %>
                <span class="text-color-developer">Developer</span>
                <% } else if(UserHelper.HasGroup(user.info, UserGroups.Admin)) { %>
                <span class="text-color-admin">Administrator</span>
                <% } else if(UserHelper.HasGroup(user.info, UserGroups.Moderator)) { %>
                <span class="text-color-moderator">Moderator</span>
                <% } else if(UserHelper.HasGroup(user.info, UserGroups.RankingSupervisor)) { %>
                <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                <% } else if(UserHelper.HasGroup(user.info, UserGroups.Contributor)) { %>
                <span class="text-color-contributor">Contributor</span>
                <% } %>
                </h5>
                <h4 class="h5 text-white">
                    <div class="status offline"></div>Offline
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light menu-bg">
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">General Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Recent Scores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Best Scores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mapsets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Playlists</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="mt-3 q-panel-header">
        <span>BADGES</span>
    </div>
    <div class="q-panel-body">
        <% user.profile_badges.forEach(badge => { %>
        <img src="https://quaver.blob.core.windows.net/badges/<%= badge.id %>.png" width="80px" height="40px"
            data-toggle="tooltip" title="<%= badge.name %>

<%= badge.description %>">
        <% }); %>
    </div>

    <% if(user.info.userpage) { %>
    <div class="mt-3 q-panel-header">
        <span>ABOUT ME</span>
    </div>
    <div class="q-panel-body">
        <div class="bio-edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
        <div id="html-bio" style="display: block;">
            <%- bio %>
        </div>
        <div id="bbcode-bio" style="display: none;" contenteditable>
            <%= bio %>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="mt-3 q-panel-header">
                <span>STATISTICS</span>
                <div class="mode-switch">
                    <a href="/user/<%=user.info.id%>?mode=1" class="mode-4 <% if (mode == 1) { %>active<% } %>">
                        <div>4K</div>
                    </a>
                    <a href="/user/<%=user.info.id%>?mode=2" class="mode-7 <% if (mode == 2) { %>active<% } %>">
                        <div>7K</div>
                    </a>
                </div>
            </div>
            <div class="q-panel-body">
                <% var mode = 'keys' + (mode == 1 ? '4' : '7') %>
                <ul class="statistics">
                    <li>Global Rank<span>#<%= user[mode].globalRank.toLocaleString() %></span></li>
                    <li>Country Rank <span>#<%= user[mode].countryRank.toLocaleString() %></span></li>
                    <li>Multiplayer Wins Rank<span>#<%= user[mode].multiplayerWinRank.toLocaleString() %></span></li>
                    <li>Overall Rating <span><%= user[mode].stats.overall_performance_rating.toFixed(2) %></span></li>
                    <li>Accuracy <span><%= user[mode].stats.overall_accuracy.toFixed(2) %>%</span></li>
                    <li>Ranked Score <span><%= user[mode].stats.ranked_score.toLocaleString() %></span></li>
                    <li>Total Score <span><%= user[mode].stats.total_score.toLocaleString() %></span></li>
                    <li>Max Combo <span><%= user[mode].stats.max_combo.toLocaleString() %></span></li>
                    <li>Play Count <span><%= user[mode].stats.play_count.toLocaleString() %></span></li>
                    <li>Multiplayer Record <span><%= user[mode].globalRank.toLocaleString() %></span></li>
                    <li>Date Registered <span><%= TimeHelper.ToDate(user.info.time_registered, false) %></span></li>
                    <li>Last Seen <span><%= TimeHelper.formatDate(user.info.latest_activity) %></span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="mt-3 q-panel-header">
                RECENT ACTIVITY
            </div>
            <div class="q-panel-body">
                <ul class="feed">
                    <% user.activity_feed.forEach(feed => { %>
                    <li>
                        <% var u = "<a href='/user/" + user.info.id + "'>" + user.info.username + "</a>" %>
                        <% var map = "<a href='" + feed.map.id + "'>" + feed.map.name + "</a>" %>
                        <% if(feed.type == 0) { %>
                        <div class="icon"><i class="fa fa-user-plus"></i></div>
                        <%- u %> has just registered for Quaver!</a>.
                        <% } else if (feed.type == 1) { %>
                        <div class="icon"><i class="fa fa-file-upload"></i></div>
                        <%- u %> has uploaded a new mapset: <%- map %></a>.
                        <% } else if (feed.type == 2) { %>
                        <div class="icon"><i class="fa fa-file-export"></i></div>
                        <%- u %> has updated mapset: <%- map %>.
                        <% } else if (feed.type == 3) { %>
                        <div class="icon"><i class="fa fa-check-circle"></i></div>
                        <%- u %> has just ranked mapset: <%- map %>.
                        <% } else if (feed.type == 4) { %>
                        <div class="icon"><i class="fa fa-times-circle"></i></div>
                        <%- u %> has gotten denied from rank for mapset: <%- map %>.
                        <% } else if (feed.type == 5) { %>
                        <div class="icon"><i class="fa fa-trophy"></i></div>
                        <%- u %> has achieved first place on <%- map %>.
                        <% } else if (feed.type == 6) { %>
                        <div class="icon"><i class="fa fa-times"></i></div>
                        <%- u %> has lost first place on <%- map %>.
                        <% } else if (feed.type == 7) { %>
                        <div class="icon"><i class="fa fa-medal"></i></div>
                        <%- u %> has unlocked achievement: <%= feed.map.name %>.
                        <% } else if (feed.type == 8) { %>
                        <div class="icon"><i class="fa fa-heart"></i></div>
                        <%- u %> has generously donated to Quaver!.
                        <% } else if (feed.type == 9) { %>
                        <div class="icon"><i class="fa fa-gift"></i></div>
                        <%- u %> has received a gift for donator perks!.
                        <% } %>
                        <div class="timestamp"><%= TimeHelper.formatDate(feed.timestamp) %></div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mt-3 q-panel-header">
                <span>RANK PROGRESSION</span>
            </div>
            <div class="q-panel-body">
                <canvas id="chartRank"></canvas>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mt-3 q-panel-header">
                <span>JUDGEMENT COUNTER</span>
            </div>
            <div class="q-panel-body">
                <canvas id="chartJudgements"></canvas>
            </div>
        </div>
    </div>

    <div class="mt-3 q-panel-header">
        <span>ACHIEVEMENTS</span>
    </div>
    <div class="q-panel-body">
        <div class="row">
            <% user.achievements.forEach(achievement => { %>
            <div class="col-lg-1 col-md-1 col-sm-1 mt-2 mb-2">
                <img src="/img/achievements/<%= achievement.id %><%= (achievement.unlocked ? '' : '-locked') %>.png"
                    width="67px" height="67px" data-toggle="tooltip" title="<%= achievement.name %>
<%= achievement.difficulty %>

<%= achievement.description %>
">
            </div>
            <% }); %>
        </div>
    </div>
</div>
<script src="/js/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        var chartJudgements = document.getElementById('chartJudgements').getContext('2d');
        new Chart(chartJudgements, {
            type: 'bar',
            data: {
                labels: ['Marv', 'Perf', 'Great', 'Good', 'Okay', 'Miss'],
                datasets: [{
                    label: '',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        "<%=user[mode].stats.total_marv%>",
                        "<%=user[mode].stats.total_perf%>",
                        "<%=user[mode].stats.total_great%>",
                        "<%=user[mode].stats.total_good%>",
                        "<%=user[mode].stats.total_okay%>",
                        "<%=user[mode].stats.total_miss%>",
                    ],
                    backgroundColor: [
                        '#FBFFB6',
                        '#F2C94C',
                        '#56FE6E',
                        '#0FBAE5',
                        '#EE5FAC',
                        '#F9645D'
                    ],
                }],
            },
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
<%- include ("../partials/footer") %>