<div class="row mg-bottom">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Achievements</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body text-center">
                    {% for achievement in achievements %}
                        <div class="mt-2 mb-2 mr-2 ml-1 d-inline-block">
                            <img src="{{ assets('/img/achievements/'~achievement.id~(achievement.unlocked ? '' : '-locked')~'.png') }}"
                                    width="67px" height="67px" data-toggle="tooltip" title="{{ achievement.name }}
{{ achievement.difficulty }}

{{ achievement.description }}" class="lazy">
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>