<div class="row" id="achievements">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Achievements</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                <div class="row">
                    {% for achievement in user.achievements %}
                        <div class="col-lg-1 col-md-1 col-sm-1 mt-2 mb-2">
                            <img src="/img/achievements/{{ achievement.id~(achievement.unlocked ? '' : '-locked') }}.png"
                                    width="67px" height="67px" data-toggle="tooltip" title="{{ achievement.name }}
{{ achievement.difficulty }}

{{ achievement.description }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>