<div class="row mg-bottom" id="judgements">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Judgement Breakdown</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                <div id="chartJudgements"></div>
            </div>
        </div>
    </div>
</div>