<div class="row mg-bottom" id="graphs">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Graphs</div>
        </div>
        <div class="card">
            <div class="card-header transparent p-0 border-0">
                <div class="nav-tab-scroll">
                    <div class="nav nav-tabs" id="tab-graphs" role="tablist">
                        <a class="nav-item nav-link active" id="graph-rank-tab" data-toggle="tab" href="#graph-rank" role="tab" aria-controls="graph-rank" aria-selected="true">Rank Progression</a>
                        <a class="nav-item nav-link" id="graph-judgements-tab" data-toggle="tab" href="#graph-judgements" role="tab" aria-controls="graph-judgements" aria-selected="false">Judgement Breakdown</a>
                        <a class="nav-item nav-link" id="graph-grades-tab" data-toggle="tab" href="#graph-grades" role="tab" aria-controls="graph-grades" aria-selected="false">Grades</a>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding: 0;">
                <div class="tab-content" id="tab-graphs">
                    <div class="tab-pane fade show active" id="graph-rank" role="tabpanel" aria-labelledby="graph-rank-tab">
                        <div id="rankProgression"></div>
                    </div>
                    <div class="tab-pane fade show" id="graph-judgements" role="tabpanel" aria-labelledby="graph-judgements-tab">
                        <div id="chartJudgements"></div>
                    </div>
                    <div class="tab-pane fade show" id="graph-grades" role="tabpanel" aria-labelledby="graph-grades-tab">
                        <div id="chartGrades"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>