<div class="row mg-bottom" id="playlists">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Playlists</div>
        </div>
        <div class="row">
            {% if not playlists %}
                <div class="col-md-12 text-white">
                    No playlists
                </div>
            {% else %}
                {% include '../playlists/playlists.twig' %}
            {% endif %}
        </div>
    </div>
</div>