<div class="row mg-bottom" id="scores">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">Scores</div>
        </div>
        <div class="card">
            <div class="card-header transparent p-0 border-0">
                <div class="nav-tab-scroll">
                    <div class="nav nav-tabs" id="tab" role="tablist">
                        <a class="nav-item nav-link active" id="best-tab" data-toggle="tab" href="#best" role="tab" aria-controls="best" aria-selected="false">Best</a>
                        <a class="nav-item nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                        <a class="nav-item nav-link" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">First Place</a>
                    </div>
                </div>
            </div>
            <form>
                <div class="card-body" style="padding: 0;">
                    <div class="tab-content" id="tab">
                        <div class="tab-pane fade show active" id="best" role="tabpanel" aria-labelledby="best-tab">
                            {% include './user-scores.twig' with {'table': 'best', 'data': best} %}
                        </div>
                        <div class="tab-pane fade show" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                            {% include './user-scores.twig' with {'table': 'recent', 'data': recent} %}
                            <div style="padding-top: 10px;" id="loader-scores-recent">
                                <div class="aj-loading" style="margin-top: 0px;"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="first" role="tabpanel" aria-labelledby="first-tab">
                            {% include './user-scores.twig' with {'table': 'firstplace', 'data': firstPlace} %}
                            <div style="padding-top: 10px;" id="loader-scores-first">
                                <div class="aj-loading" style="margin-top: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>