<footer class="site-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-4 mb-md-0 pb-1 pb-md-0">
                <div class="footer-title">About Quaver</div>
                <p>
                    Quaver is the ultimate community-driven and open-source competitive rhythm game.
                    We're aiming to take the concept of VSRGs to a new level by bringing competition and
                    e-sports into the mix.
                </p>
                <p>
                    Although the game may seem difficult at first glance, you don't have to be a pro to play Quaver!
                    This game is for everyone - casual and seasoned. We have a community of developers from all over
                    the globe contributing to the open-source game, so join in on the fun!
                </p>
            </div>
            <div class="col-md-4">
                <div class="footer-title">Stay in the loop</div>
                <p>Keep up to date with our dev blog to find out the latest news about Quaver.

                </p>
                <a href="https://store.steampowered.com/news/?appids=980610" rel="noopener" target="_blank" class="btn btn-social btn-soundcloud btn-lg">Read the Dev Blog</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container d-flex flex-column flex-md-row">
            <div class="order-2 order-md-1">
                <div class="footer-links d-none d-md-inline-block">
                    <a href="#">Team</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy</a>
                    <a href="#">Copyright</a>
                </div>
                <p class="footer-copyright">
                    Copyright © 2017-2020 <a href="https://github.com/Swan" rel="noopener" target="_blank">Swan</a> & The Quaver Team. All rights reserved.
                </p>
            </div>
            <div class="footer-social order-1 order-md-2 ml-md-auto text-center text-md-right">
                <span class="d-none d-sm-block mb-2">follow us on social media</span>
                <a href="https://twitter.com/QuaverGame" target="_blank" data-toggle="tooltip" title="" data-original-title="twitter"><i class="ya ya-twitter"></i></a>
                <a href="https://discord.gg/nJa8VFr" target="_blank" data-toggle="tooltip" title="" data-original-title="discord"><i class="ya ya-discord"></i></a>
                <a href="https://github.com/Quaver" target="_blank" data-toggle="tooltip" title="" data-original-title="github"><i class="ya ya-github"></i></a>
                <a href="https://www.twitch.tv/QuaverOfficial" target="_blank" data-toggle="tooltip" title="" data-original-title="twitch"><i class="ya ya-twitch"></i></a></div>
        </div>
    </div>
</footer>