<footer class="site-footer bg-dark">
    <div class="footer-bottom">
        <div class="container d-flex flex-column flex-md-row">
            <div class="order-2 order-md-1">
                <div class="footer-links d-none d-md-inline-block">
                    <a href="{{ baseUrl('/team') }}">Team</a>
                    <a href="https://wiki.quavergame.com/docs/legal/terms">Terms of Service</a>
                    <a href="https://wiki.quavergame.com/docs/legal/privacy">Privacy</a>
                    <a href="https://wiki.quavergame.com/docs/legal/copyright">Copyright (DMCA)</a>
                </div>
                <p class="footer-copyright">
                    Copyright © 2017-2020
                    <a href="https://github.com/Swan" rel="noopener" target="_blank">Swan</a>
                    &
                    <a href="https://github.com/orgs/Quaver/people" rel="noopener" target="_blank">The Quaver Team</a>.
                    All rights reserved.
                </p>
            </div>
            <div class="footer-social order-1 order-md-2 ml-md-auto text-center text-md-right">
                <span class="d-none d-sm-block mb-2">Follow us on social media</span>
                <a href="https://twitter.com/QuaverGame" target="_blank" data-toggle="tooltip" title="Twitter" data-original-title="Twitter">
                    <i class="ya ya-twitter"></i>
                </a>
                <a href="https://discord.gg/nJa8VFr" target="_blank" data-toggle="tooltip" title="Discord" data-original-title="Discord">
                    <i class="ya ya-discord"></i>
                </a>
                <a href="https://github.com/Quaver" target="_blank" data-toggle="tooltip" title="GitHub" data-original-title="GitHub">
                    <i class="ya ya-github"></i>
                </a>
                <a href="https://www.twitch.tv/QuaverOfficial" target="_blank" data-toggle="tooltip" title="Twitch" data-original-title="Twitch">
                    <i class="ya ya-twitch"></i>
                </a>
            </div>
        </div>
    </div>
</footer>